<h2>Secret Page</h2>

{{#if session.isAuthenticated}}
    <p>You're looking at this so that means you're logged in.</p>
    <p>There is no exciting secret it was all a lie.</p>
{{else}}
    <p>You are not logged in! {{#link-to 'login'}}Login{{/link-to}} to look at the secret.</p>
{{/if}}